<div class="container row">
    <div class="col-lg-12 contenedor">

    </div>
    <div class="col-lg-6 contenedor">
        <h5 class="text_center">Nombre del Servicio: {{infoServicio.nombre}}</h5>
    </div>

    <div class="col-lg-6 contenedor">
        <h5 class="text_center">Precio del servicio: {{infoServicio.precio}}</h5>
    </div>

    <div class="col-lg-6 contenedor">
        <h5 class="text_center">Descripcion del Servicio : {{infoServicio.descripcion}}</h5>
    </div>

    <div class="col-lg-6 contenedor">
        <h5 class="text_center">Comentarios del servicio: {{infoServicio.comentarios}}</h5>
    </div>

</div>
