<!-- ////////////////// SECCION TENSION ARTERIAL ///////////////// -->
<section class="bg-light"  >

  <div class=" my-3 mx-0 p-4 borde_servicios" >
  <div >
      <h3 class="text_center">Historial de Tension Arterial</h3>
  </div>
  
        <div class="my-4 contenedor_servicios">
          <table class="table p-4">
            <thead>
              <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Diastolica</th>
                <th scope="col">Sistolica</th>
                <th scope="col">Comentario</th>

  
  
              </tr>
            </thead>
            <tbody  *ngFor="let s of listaNotasTension">
              <tr  >
                <td class=" py-4 ">{{s.fecha}}</td>
                <td class=" py-4 ">{{s.diastolica}}</td>
                <td class=" py-4 ">{{s.sistolica}}</td>
                <td class=" py-4 ">{{s.comentario}}</td>
                <td> 
                  <button  class="btn bg_btn_edit px-4 p-2 m-2" routerLink="/auth/edit_nota_tension/{{s.id}}">
                    Editar</button>
                  <button  class="btn bg_btn_elim px-4 p-2 m-2" (click)="eliminarNotaTension(s.id)">Eliminar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>



<!-- ////////// FORMULARIO //////////// -->
<section class="bg-light my-3 mx-0 p-4 borde_servicios">
  <div>
    <h3 class="text_center">Nueva nota de Tension Arterial</h3>
  </div>
        <form class="container" [formGroup]="formTensionArterial"  (submit)="agregarNotaTensionArterial(getIdFichaMedica)">

        <div class="row  bg-light justify-content-evenly align-items-center p-4" >

  
        <!-- FECHA SERVICIO  -->
          <div class="col-lg-4 bg-light">
            <h5 class="text-center p-3" >Fecha</h5>
            <input formControlName="fecha" type="datetime-local" class="form-control" id="fecha-registro" aria-describedby="emailHelp">
          </div>
    

        <!-- VALOR DIASTOLICA --> 
        <div class="col-lg-3 bg-light">
          <h5 class="text-center p-3" >Diastolica</h5>
          <input formControlName="diastolica" type="number" class="form-control" id="valor-glucemia">
        </div>

 
        
        <!-- VALOR SISTOLICA  --> 
        <div class="col-lg-3 bg-light">
          <h5 class="text-center p-3" >Sistolica</h5>
          <input formControlName="sistolica" type="number" class="form-control" id="valor-glucemia">
        </div>

 

        <!-- COMENTARIO DEL REGISTRO --> 
        <div class="col-lg-10 bg-light">
          <h5 class="text-center p-3" >Comentario</h5>
          <textarea formControlName="comentario" name="" id="" cols="30" rows="5" class="form-control"></textarea>
        </div>

      <button  class="btn bg_btn_edit m-2 col-lg-3 py-2 px-4">Registrar Nota de Tension</button>
          
      </div>

  </form>


</section>

</section> 
