@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    scroll-behavior: smooth;
}

/*  PALETA DE COLORES DEL NUEVO LOGO
#FC5880 rosa
#16BBEB celeste
#0870AA azul
#03476D azul oscuro
*/

/* ///////////// 2 0 2 4 ///////////// */
.borde{
    border:#2845d6 1px solid;
}

.bg_c_primary{
    background-color: var(--primary-dark);
  }
  
  .text_center{
    text-align: center;
  }
  
  .borde_servicios{
    border: 1px solid #2845d6;
  
  }
  
  .bg_btn_edit{
    background-color: #03476D;
    color: #ffffff;
  }
  
  .bg_btn_elim{
    background-color: #fa4299;
    color: #ffffff;
  }
  
  /* CONTENEDOR*/
  .altura_cont{
    height: 28rem;
  }
  
  .contenedor_servicios{
    height: 25rem;
    width: 100%;
    overflow-y: scroll;
    overflow-x: scroll;
  
  
  }

  .text_center{
    text-align: center;
    padding: 2rem 0rem;
  }




        .slide_img{
            background-image: url('../../../../assets/images/tension/t-principal.jpg');
        
            height: 30rem;
            background-size: cover; /* Ajusta automáticamente el tamaño de la imagen */
        }
        .slide_img_2{
            background-image: url('../../../../assets/images/peso/p.caminar2.jpg');
        
            height: 30rem;
            background-size: cover; /* Ajusta automáticamente el tamaño de la imagen */
        }
        .slide_img_3{
            background-image: url('../../../../assets/images/peso/estad.jpg');
        
            height: 30rem;
            background-size: cover; /* Ajusta automáticamente el tamaño de la imagen */
            background-repeat: no-repeat;
            
        }

.alt{
    height: 30rem;
}

.m_botom{
    margin-bottom: 4rem;
}

.texto_negro{
    color: black;
}
.texto_blanco{
    color: white;
}

.borde_negro{
    border: 1px solid black;
}


.fondo_azul{
    background-color:#03476D;
}

.fondo_rosa{
    background-color: #03466d69;
}

.fondo_blanco{
    background-color: white;
}

.border_radius{
    border-radius: 5px;
}