      <!-- ////////////////// SECCION SERVICIOS ///////////////// -->
      <section class="bg-light container-fluid"  >

        <div class=" my-3 mx-0 p-4 fondo_rosa row">

              <!-- MUESTRA SERVICIOS -->
              <section class="my-4  container-fluid col-lg-8">
                
                <div >
                  <h2 class="text_center">Nuestros Servicios</h2>
                </div>
                <div class="row">


                  <div class="tarjeta_s col-lg-6  " *ngFor="let s of servicios"> 
                    <div class="m-2 fondo_blanco p-3">
                    <div class="tarjeta_img_{{s.id}}" ></div>
                      
                    <h5 class="text_center py-0 my-1">{{s.nombre}}</h5>
                    <h3 class="text_center py-0 my-1">${{s.precio}}</h3>


                    <div class="d-flex justify-content-center" >
                      <button  class="btn bg_btn_edit px-4 p-2 m-1 col-lg-6" (click)="servicioAlCarrito(s.id)">
                      Agregar al Carrito</button>

                      <button  class="btn bg_btn_edit car_eliminar color_azul px-4 p-2 m-1 col-lg-6"  routerLink="/auth/mas_info_serv/{{s.id}}" >
                       Mas Info</button>
                    </div>
                  </div>
                  </div>
                </div>
        
              </section>

              <!-- MUESTRA CARRITO -->
              <section class="col-lg-4 p-1 my-4 borde_carrito">
                <div class="">
                <h3 class="text_center ">Carrito</h3>

                <div *ngIf="!veracidadSiguiente">
                    <h5 class="text_center">Para empezar a comprar agrega un servicio al carrito</h5>

                </div>
    
                <div *ngIf="veracidadSiguiente">

                  <!--  TITULARES -->
                  <div class="container-fluid" >
                    <div class="row" >
                      <div class="col-lg-4">
                        <h5 class="text_center2">Precio</h5>
                      </div>
                      <div class="col-lg-4">
                        <h5 class="text_center2">Servicio</h5>
                      </div>
                      <div class="col-lg-4">
                        <h5 class="text_center2"></h5>
                      </div>
                    </div>
                  </div>
                  <!--  LISTA DE SERVICIOS -->
                  <div class="container-fluid" >
                    <div class="row  " *ngFor="let s of serviciosEnCarrito">
                      <div class="col-lg-4">
                        <h6 class="text_center2">${{s.precio}}</h6>
                      </div>
                      <div class="col-lg-4 ">
                        <h6 class="text_center2">{{s.nombre}}</h6>
                      </div>
                      <div class="col-lg-4 ">
                        <button  class="btn bg_btn_edit px-4 p-2 m-1 car_eliminar" (click)="eliminarServicioDelCarrito(s.id)" >
                    Eliminar</button>

                      </div>
                    </div>
                  </div>

                  <div  >
                  <button  class="btn bg_btn_edit px-4 p-2 my-4 col-lg-12" routerLink="/auth/resumen2_carrito/{{idCarrito}}" >
                    Siguiente</button>

                  </div>
                </div>
              </div>
              </section>

            </div>

</section> 

