
<div class="div0"></div>

<section class="grid-container banner hero-nosotros">

    <div class="overlay"></div>
    <div class="cuerpo">
        <h1>Quiénes somos</h1>
        <p>Nuestro objetivo, es mejorar la vida de las personas con diabetes.</p>
    </div>
</section>


<div class="grid-container seccion1">
    <div class="card">
        <div class="card-body">
            <h2 class="texto1"> NUESTRA HISTORIA </h2>

            <p class="texto2">
                Somos un grupo de pacientes, familiares y médicos que nos preguntamos si era posible recopilar toda la información médica usando nuestros teléfonos inteligentes en lugar de tener que anotar esos datos en una libreta para acudir al control médico<br>

                <br>Comenzamos desarrollar una plataforma integral para el control de la diabetes y llevar los beneficios de la tecnología a todas las personas con diabetes.<br>

                <br>En OneDrop nuestro objetivo desde el principio ha sido sacar provecho de la tecnología para dar a todos los conocimientos necesarios y poder tomar el control de su diabetes.<br>
            </p>
        </div>
    </div>
</div>

<div class="container3">
    <div class="row">
        <div class="col">
            <h2 class="texto1"> NUESTRO EQUIPO </h2>
        </div>
    </div>
</div>

<div class="grid-container seccion2">
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="card cajas">
                <img src="assets/medic1.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Daniel</h5>
                    <p class="card-text">Médico</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card cajas">
                <img src="assets/paciente2.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Maximiliano</h5>
                    <p class="card-text">Paciente</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card cajas">
                <img src="assets/medic2.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Daniela</h5>
                    <p class="card-text">Médica</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card cajas">
                <img src="assets/paciente1.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Martín</h5>
                    <p class="card-text">Paciente</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card cajas">
                <img src="assets/fliarpaciente1.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">David</h5>
                    <p class="card-text">Familiar de paciente</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card cajas">
                <img src="assets/medica4.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Jimena</h5>
                    <p class="card-text">Médica</p>
                </div>
            </div>
        </div>
    </div>
</div>
