<!-- Empieza Footer -->
<footer class="footer-bg">
  <!-- PROBAMOS DE HACER EL FOOTER CON BOOTSTRAP -->
  <div class="container-fluid">
    <div class="row footer">
      <!-- id="grid-container footer" -->

      <div class="col-lg-4 col-md-12 d-flex align-items-center flex-column">
        <h3 class="tit-footer">OneDrop</h3>
        <h5 class="texto text-primary text-center" id="texto">La APP N° 1 en gestión de Diabetes</h5>
      </div>

      <div class="col-lg-2 col-md-6 col d-flex align-items-center flex-column">
        <h4 class="tit-footer">Links</h4>
        <li class="link-footer">
          <a class="text-secondary" href="home">Inicio</a>
        </li>
        <li class="texto link-footer">
          <a class="text-secondary" href="nosotros">Nosotros</a>
        </li>
        <li class="texto link-footer">
          <a class="text-secondary" href="contacto">Contacto</a>
        </li>
      </div>
      <div class="col-lg-2 col-md-6 d-flex align-items-center flex-column">
        <h4 class="tit-footer">Recursos</h4>
        <li class="texto link-footer">
          <a class="text-secondary" target="_blank" href="https://fedesp.es/blog/">Blog</a>
        </li>
        <li class=" texto link-footer">
          <a class="text-secondary" href="soporte">Soporte</a>
        </li>
      </div>
      <div class="col-lg-2 col-md-6 d-flex align-items-center flex-column">
        <h4 class="tit-footer">Contacto</h4>
        <li class=" texto link-footer">
          <a class="text-primary">+351 11 48855</a>
        </li>
        <li class=" texto link-footer">
          <a class="text-primary">info@onedrop.com</a>
        </li>
      </div>

      <div class="col-lg-2 col-md-6 d-flex align-items-center flex-column">
        <h4 class="tit-footer">Redes</h4>
        <div class="align-items-center flex-row">
          <!-- BOTON INSTAGRAM -->
          <li class="link-footer">
            <a target="_blank" class="text-secondary icono-rsociales" href="https://www.instagram.com">
              <i class="fa-brands fa-instagram"></i>
            </a>
          </li>
          <!-- BOTON FACEBOOK -->
          <li class="link-footer">
            <a target="_blank" class="icono-rsociales text-secondary" href="https://www.facebook.com">
              <i class="fa-brands fa-facebook"></i>
            </a>
          </li>
          <!-- BOTON LINKEDIN -->
          <li class="link-footer">
            <a target="_blank" class="icono-rsociales text-secondary" href="https://www.linkedin.com">
              <i class="fa-brands fa-linkedin"></i>
            </a>
          </li>
        </div>
      </div>
    </div>
  </div>
  <p class="pie" id="pie">&copy; 2022 - TSDWAD - Grupo 30</p>
</footer>
<!-- Termina Footer -->
<script src="assets\js\topbtn.js"></script>
<script src="assets\js\val-registro.js"></script>
