@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif; 
    /*outline: solid 1px tomato !important;*/

/*  PALETA DE COLORES DEL NUEVO LOGO
#FC5880 rosa
#16BBEB celeste
#0870AA azul
#03476D azul oscuro
*/


}
/* Estilos generales del nav */
.navbar {
    background-color: white ;
    width: 100%;


    display: flex;
    justify-content: flex-start;

    z-index: 10;

    padding: 1rem 1.5rem;

    border-bottom: 1px  solid   black;
    
}

/* Estilos de las secciones nav */

.nav-item {
    margin:.2rem;
}

.nav-link {
    color: #333 ;
    font-weight: 600;
} 

/* Estilos del brand OneDrop */

.navbar-brand {
    background-image: url('../assets/images/dropLogoCentrado.png');
    background-repeat: no-repeat;
    background-size: cover; /* Ajusta automáticamente el tamaño de la imagen */
    background-position: center; /* Centra la imagen vertical y horizontalmente */
    width: 150px; /* Ancho de la imagen */
    height: 50px; /* Altura de la imagen */
    padding: 0; /* Elimina cualquier espacio de relleno */

    
}
.borde{
    border: 1px solid blue;
}



@media screen and (min-width: 975px){
    .flex-padre{
        display: flex ;
        flex-direction: row;
        justify-content:flex-end;
    }
}


.botones {
    padding: .7rem .4rem;
    border: 1px solid white;
    border-radius: .3rem;

    transition: all 2s ease;

}
.botones:hover{
    border: 1px solid #03476D;
    color:#16BBEB;
    border-radius: .3rem;

}

/* Estilos boton INGRESAR */


.boton1{
    padding: .7rem 2rem ;
    /*background-color: #0062cc;*/
    background-color:#03476D;

    border-radius: .3rem;
    border: 1px solid#03476D;
    transition: all 2s ease;
}

.boton1:hover{
    border: 1px solid#0870AA;
    background-color: #0870AA;


    
    
}
.boton1bis{
    color: white;
}



