@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    scroll-behavior: smooth;
}

/* ///////////// 2 0 2 4 ///////////// */
.borde{
    border:#03476D 1px solid;
}

.bg_c_primary{
    background-color: #03476D;
  }
  
  .text_center{
    text-align: center;
  }
  
  .borde_servicios{
    border: 1px solid #03476D;
  
  }
  
  .bg_btn_edit{
    background-color: #03476D;
    color: #ffffff;
  }
  
  .bg_btn_elim{
    background-color: #fa4299;
    color: #ffffff;
  }
  
  /* CONTENEDOR*/
  
  .contenedor_servicios{
    height: 20rem;
    width: 100%;
    overflow-y: scroll;
    overflow-x: scroll;
  
  
  }
  .text_center{
    text-align: center;
    padding: 2rem 0rem;
  }


  .tarjeta_img_1{
  background-image: url('../../../../assets/images/serv_bioq.jpg');
  height: 18rem;
  background-size: cover; /* Ajusta automáticamente el tamaño de la imagen */

  }
  
  .tarjeta_img_2{
    background-image: url('../../../../assets/images/serv_diabetologo.jpg');
    height: 18rem;
    background-size: cover; /* Ajusta automáticamente el tamaño de la imagen */
    }

    .tarjeta_img_3{
        background-image: url('../../../../assets/images/serv_nutr.jpg');
        height: 18rem;
        background-size: cover; /* Ajusta automáticamente el tamaño de la imagen */
    }

    .tarjeta_img_4{
        background-image: url('../../../../assets/images/serv_cardio.jpg');
        height: 18rem;
        background-size: cover; /* Ajusta automáticamente el tamaño de la imagen */
        }

    .tarjeta_img_5{
        background-image: url('../../../../assets/images/serv_endoc.jpg');
        height: 18rem;
        background-size: cover; /* Ajusta automáticamente el tamaño de la imagen */
        }

/*  PALETA DE COLORES DEL NUEVO LOGO
#FC5880 rosa
#16BBEB celeste
#0870AA azul
#03476D azul oscuro
*/

.menu_text{
    text-align: center;
  }
  
  .sub_sidebar{
    height: 100%;
  
    border: #03476D 1px solid;
  }

  .sub_sidebar_sin_b{
    margin: 2rem 0rem;
    height: 100%;  
  }
  .selec{
    border: #03476D 1px solid;
  }

  .message{
    text-align: center;
    margin: 2rem 0rem;

  }
  .text_center{
    text-align: center;
  }

  .secciones{
    background-color: white;
    height: 7rem;
    width: 100%;
    border-radius: 0px;
    border: 1px solid #fc588163 ;

  }

  .secciones2{
    background-color:#FC5880;
    height: 7rem;
    width: 100%;
    border-radius: 0px;
    border: 1px solid #FC5880 ;
  }

  .secciones:hover{
    border: 2px solid #FC5880;
  }


  .texto_blanco{
    color:white;
  }

  .texto_rosa{
    color: #FC5880;
  }

  .borde{
    border: 1px solid black;
  }

  .m_botom{

    margin-bottom: 4rem;

  }

  .seccion_ofr{
    background-color: #fc5881c1;
  }

