<section class="seccion_ofr container-fluid m_botom">

    <div class="col-lg-12 my-4 py-4">
      <h2 class="text_center texto_blanco">¿Qué te ofrecemos en OneDrop?</h2>
    </div>

    <div class="col-lg-12 m_botom row container-fluid">

      <div class="col-lg-12">
          <h5 class="p-2 text_center texto_blanco">. Vas a poder registrar notas diarias de glucemia y tension arterial para guardar tus datos y llevar un control de ellos. Tambien podras hacer notas de peso.</h5>
      </div>

      <div class="col-lg-12">
        <h5 class="p-2 text_center texto_blanco">. Consultar estadisticas de los datos que lleves guardando hasta el momento y descargar un PDF con toda la informacion, para llevarla a donde necesites.</h5>
      </div>

      <div class="col-lg-12 m_botom">
        <h5 class="p-2 text_center texto_blanco">. Podras consultar nuestros servicios y contratarlos si los necesitas.</h5>
      </div>



    </div>

  </section>
