.bg_c_primary{
    background-color: #03476D;
  }
  .sub_sidebar{
    height: 100%;
  
    border: #0870AA 1px solid;
  }

  .text_center{
    text-align: center;
  }
  
  .borde_servicios{
    border: 1px solid #0870AA;
  }
  
  .bg_btn_edit{
    background-color:  #0870AA;
    color: #ffffff;
  }
  
  .bg_btn_elim{
    background-color: #fa4299;
    color: #ffffff;
  }


.contenedor_usuarios{
    height: 20rem;
    width: 100%;
    overflow-y: scroll;
    overflow-x: scroll;


}