
<div class="div0"></div>
<section class="grid-container banner" id="grid-container banner">
    <!--video autoplay muted loop><source src="assets/img/video_index.mp4"></video>
            <div class="overlay" id="overlay"></div-->
    <!-- Restyling: definir si usamos el video o la imagen de fondo + overlay o queda solo con color de fondo -->
    <div class="cuerpo   container-fluid" id="cuerpo">

      <div class="row justify-content-md-center">
          <div class="col-lg-12 "><h3 class="text_center"> La APP N° 1 en gestión de Diabetes</h3></div>


            <div class="fondoLogo  col-lg-12 " ></div>

          
          
          <div class="contenedor-button container-fluid col-lg-10 m-0" id="contenedor-button">
            <div class="row justify-content-md-center ">
              <a href="auth/registrarse" class=" col-lg-12 text_center "><button class=" btn button1 col-lg-12  " id="button1"> Registrarse </button></a>
               <a href="auth/login"  class=" col-lg-12 text_center "><button class="btn  button2 " id="button2"> Ingresar </button></a>
            </div>
          </div>
      </div>
    </div>
</section>
<!-- Termina Hero -->
<!-- Empieza Seccion Características -->
<!-- Cards / Bootstrap -->

<!--  Responsive-->

<!-- CARACTERISTICAS -->
<div class="container-fluid m-0 caract_borde">

    <div class="container-fluid margin_0 row m-0 " id="grid-container">



        <div  class="col-lg-8 caract   d-flex justify-content-center align-items-center ">
          <h1 class="text_center"> Que es lo que ofrecemos? </h1>
        </div>

  
        
        <div class="col-lg-4  caract caract_2  d-flex justify-content-center align-items-center ">
          <h4>En OneDrop te invitamos a disfrutar y a vivir experiencias saludables a través de nuestros servicios relacionados con el bienestar integral. </h4>
           
        </div>


        <!-- CARD 1 -->
        <div class="col-lg-4 cont  d-flex justify-content-center ">

          <div  class=" col-lg-12 card2 cajas  p-4">
            <img src="assets/index-f1.gif" class="card-img-top" alt="caracteristica 1">
              <div class="card-body" id="card-body">
                  <h5 class="card-title" id="card-title">Simplificando la gestión</h5>
                  <p class="card-text" id="card-text">La información que registra en la APP se actualiza en la plataforma en tiempo real.</p>
              </div>

        </div>
      </div>


        <!-- CARD 2 -->
        <div class="col-lg-4 cont  d-flex justify-content-center">

          <div  class=" col-lg-12 card2 cajas  p-4">
            <img src="assets/index-f2.gif" class="card-img-top" alt="característica 2">
            <div class="card-body" id="card-body">
                <h5 class="card-title" id="card-title">Reserve turno</h5>
                <p class="card-text" id="card-text"> Puede solicitar un turno para realizar su control de salud, con atención preferencial.</p>
            </div>

        </div>
      </div>

        <!-- CARD 3 -->
        <div class="col-lg-4 cont  d-flex justify-content-center">

          <div  class=" col-lg-12 card2 cajas  p-4">
            <img src="assets/index-f3.gif" class="card-img-top" alt="caracteristica 3">
            <div class="card-body" id="card-body">
                <h5 class="card-title" id="card-title">Seguimiento personalizado</h5>
                <p class="card-text" id="card-text">Mejore su tratamiento individual y reciba información personalizada sobre su diabetes. </p>
            </div>

        </div>
      </div>
</div>
<!-- Termina Seccion Características -->
<!-- Empieza Seccion Testimonios -->
<!-- Podríamos poner un carrousel -->


<!-- TESTIMONIOS -->
<div class="container-fluid my-4 testim_borde">

  <div class="container-fluid margin_0 row m-0 " id="grid-container">

      <div  class="col-lg-6 testim  d-flex justify-content-center align-items-center ">

        <div class="m-4 ">
            <h2 class="text_center "> Te invitamos a leer algunos de los testimonios de nuestros usuarios </h2>
        </div>

        
      </div>


    

    
<div class="container-fluid col-lg-6">
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="card2test cajas col-lg-3 mx-auto">
            <img src="assets/paciente1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Juan Pérez</h5>
              <p class="card-text">"He sido testigo del desarrollo de OneDrop casi desde su nacimiento. Forman un equipo siempre atento a escuchar a los usuarios y a mejorar cada día, eso se agradece. La plataforma web junto con la app para móviles forman un sistema útil y potente para quienes tomamos decisiones importantes de salud día a día viviendo con diabetes tipo 1"</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card2test cajas col-lg-3 mx-auto">
            <img src="assets/paciente2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">María Fernández</h5>
              <p class="card-text">"OneDrop me ha permitido mejorar mis controles y conocer más sobre mi diabetes tipo 2. Las recomendaciones personalizadas y la posibilidad de reservar un turno para mis controles son un plus. Solo tengo que seleccionar el circuito médico que deseo contratar, el día, horario y lugar, y listo!"</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card2test cajas col-lg-3 mx-auto">
            <img src="assets/paciente3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Pedro González</h5>
              <p class="card-text">"Como deportista es muy importante llevar un registro fiable de mis glucemias para poder realizar correcciones cuando ejercito. OneDrop lo hace todo por mí, solo tengo que sincronizar mi glucómetro y todo se actualiza en la app. La app me permite realizar correcciones de insulina más eficientes durante mi entrenamiento."</p>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev prev-lg" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="fas fa-chevron-left" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button class="carousel-control-next next-lg" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="fas fa-chevron-right" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
      </button>
    </div>
  </div>
  