<section class="row container-fluid">

<!-- ////////////// CARRUSEEEELLLL /////////////// -->
<div id="carouselExampleCaptions" class="carousel slide m_botom">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner  ">
    <div class="carousel-item active alt p-4 ">
      <div class="slide_img "></div>
      <div class="carousel-caption d-none d-md-block fondo_transp">
        <h3  class="texto_negro">Identificar patrones</h3>
        <h4 class="texto_negro">Un diario te ayuda a identificar patrones y momentos en los que tiendes a comer en exceso.</h4>
      </div>
    </div>
    <div class="carousel-item alt p-4">
      <div class="slide_img_2 "></div>
      <div class="carousel-caption d-none d-md-block fondo_transp">
        <h3 class="texto_negro">Aumentar la actividad diaria</h3>
        <h4 class="texto_negro">Usa las escaleras en lugar del ascensor, estaciona más lejos y haz caminatas cortas durante el día.</h4>
      </div>
    </div>
    <div class="carousel-item alt p-4">
      <div class="slide_img_3 "></div>
      <div class="carousel-caption d-none d-md-block fondo_transp">
        <h3 class="texto_negro">Consultar a un profesional</h3>
        <h4 class="texto_negro">Un dietista o nutricionista puede ofrecerte orientación personalizada.</h4>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>





<!-- ////////////////// SECCION PESO ///////////////// -->
<section class="m-0 p-2 my-2 col-lg-6 fondo_azul">

  <div class=" borde_servicios fondo_blanco">



        
              <div class="my-4 p-2 contenedor_servicios   ">
                <table class="table p-4  border_radius ">
                  <thead>
                    <tr>
                      <th scope="col">Fecha</th>
                      <th scope="col">Comentario</th>
                      <th scope="col">Valor</th>
        
        
                    </tr>
                  </thead>
                  <tbody  *ngFor="let s of listaNotasPeso">
                    <tr  >
                      <td class=" py-4 ">{{s.fecha}}</td>
                      <td class=" py-4 ">{{s.comentario}}</td>
                      <td class=" py-4 ">{{s.valor}}</td>
                      <td> 
                        <button  class="btn bg_btn_edit px-4 p-2 m-2"  routerLink="/auth/edit_nota_peso/{{s.id}}">
                          Editar</button>
                        <button  class="btn bg_btn_elim px-4 p-2 m-2" (click)="eliminarNotaPeso(s.id)" >Eliminar</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
        </section> 
      <!-- ////////// DESC HISTORIAL //////////// -->


        <section class="m-0 p-2 my-2  col-lg-6 fondo_azul" >

          <div >
            <h3 class="text_center texto_blanco">Historial de Peso</h3>
        </div>
        <div >
          <h5 class="text_center texto_blanco">Mantente al día con tu progreso de salud. Revisa y analiza tus registros de peso para alcanzar tus metas.</h5>
      </div>


        </section>


      <!-- ////////// DESC FORMULARIO //////////// -->

        <section class="m-0 my-2 p-2  col-lg-6 fondo_rosa" >

          <div >
            <h3 class="text_center texto_blanco">¡Registra tu peso!</h3>
        </div>
        <div >
          <h5 class="text_center texto_blanco">Completa tu formulario de registro de peso para llevar un control preciso de tu progreso y alcanzar tus metas de salud.</h5>
      </div>


        </section>
      <!-- ////////// FORMULARIO //////////// -->
      <section class="m-0 p-2 my-2  col-lg-6 fondo_rosa " >
    <div class="m-1">



              <form class="container altura_cont" [formGroup]="formRegistroPeso"  (submit)="agregarNotaRegistroPeso(getIdFichaMedica)">

              <div class="row  bg-light justify-content-evenly align-items-center p-4" >

              <!-- FECHA SERVICIO -->
                <div class="col-lg-4 ">
                  <h5 class="text-center p-3" >Fecha</h5>
                  <input formControlName="fecha" type="datetime-local" class="form-control" id="fecha-registro" aria-describedby="emailHelp">
                </div>
          

              <!-- VALOR GLUCEMIA -->  
              <div class="col-lg-4 ">
                <h5 class="text-center p-3" >valor</h5>
                <input formControlName="valor" type="number" class="form-control" id="valor-glucemia">
              </div>

              <!-- COMENTARIO DEL REGISTRO -->  
              <div class="col-lg-10 ">
                <h5 class="text-center p-3" >Comentario</h5>
                <textarea formControlName="comentario" name="" id="" cols="30" rows="5" class="form-control"></textarea>
              </div>




            <button  class="btn bg_btn_edit m-2 col-lg-10 py-2 px-4">Registrar Nota de Peso</button>
                
            </div>

        </form>
    
      </div>

</section>

</section> 

<!-- ////////////////// CIERRA SECCION PESO ///////////////// -->
