<div class="div0"></div>

<!-- Empieza Hero -->
<section class="grid-container banner" id="grid-container banner">
    <!--video autoplay muted loop><source src="assets/img/video_index.mp4"></video>
            <div class="overlay" id="overlay"></div-->
    <!-- Restyling: definir si usamos el video o la imagen de fondo + overlay o queda solo con color de fondo -->
    <div class="cuerpo" id="cuerpo">
        <h3> ¿Tenés preguntas?</h3>
        <h1> Te ayudamos</h1>
    </div>
</section>
<!-- Termina Hero -->