/*  PALETA DE COLORES DEL NUEVO LOGO
#FC5880 rosa
#16BBEB celeste
#0870AA azul
#03476D azul oscuro
*/

.menu_text{
    text-align: center;
  }
  
.sub_sidebar{
    height: 100%;
  
    border: #03476D 1px solid;
  }

.sub_sidebar_sin_b{
    margin: 2rem 0rem;
    height: 100%;  
  }
.selec{
    border:#03476D 1px solid;
  }

.message{
    text-align: center;
    margin: 2rem 0rem;

  }
.text_center{
    text-align: center;
  }

.secciones{
    background-color: #fc588115;
    height: 7rem;
    width: 100%;
    border: 1px solid #fc588163 ;
    border-radius: 5px;

  }
  .secciones_azul{
    background-color: #0871aa0c;
    height: 7rem;
    width: 100%;
    border: 1px solid #0871aa6f ;
    border-radius: 5px;

  }

.secciones2{
    background-color: #03476D;
    height: 7rem;
    width: 100%;
    border-radius: 0px;
    border: 1px solid #03476D ;
    border-radius: 5px;

  }

.secciones:hover{
    border: 2px solid #FC5880;
    border-radius: 5px;
  }
.secciones_azul:hover{
  border: 2px solid  #03476D ;
  border-radius: 5px;

}


.texto_blanco{
    color:white;
  }

.texto_rosa{
    color: #FC5880;
  }

  .texto_azul{
    color:#03476D;
  }

.borde{
    border: 1px solid black;
  }

.m_botom{

    margin-bottom: 3rem;

  }

.seccion_ofr{
    background-color: #fc5881c1;
  }

.bg_btn_edit{
    background-color: #03476D;
    color: #ffffff;
  }

.m_top{
  margin-top: 3rem;
}

.m_top2{
  margin-top: 6rem;
}

